---
---
<body>
    <a href="/" class="content-link">Home</a>
    <a href="/about/" class="content-link">About</a>
    <a href="/blog/" class="content-link">Blog</a>

    <h1 class="content-title">About Integra Tech Support</h1>
    <h2 class="content-subtitle">A little bit about me and this company</p>
    <p class="content-text">
        I'm a software developer and a writer. I've been writing for as long as I can remember, and I've been programming for almost as long. I've always been interested in the intersection of technology and the humanities, and I've always been interested in the ways that technology can be used to tell stories and create art. This site is a place for me to explore those interests, and to share my work with the world.
    </p>
    <p class="content-text">
        I'm a big fan of open source software, and I'm a big fan of the open web. I believe that the internet is at its best when it's open and accessible to everyone, and I believe that the best way to create a better internet is to build it ourselves. That's why this site is built with open source tools, and that's why I'm committed to making it as accessible as possible.
    </p>
</body>