---
import SiteLayout from '@layouts/SiteLayout.astro';
import Container from '@components/Container.astro';
import '../styles/main.css';
---
<SiteLayout title="Home">
  <main>
    <Container>
      <h1>Welcome to Integra Tech Support</h1>
    </Container>
  </main>
</SiteLayout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
</style>