---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Mismotivated | Where Science and Counterculture Collide</title>
	</head>
	<body>
		<a href="/" class="content-link">Home</a>
    	<a href="/about/" class="content-link">About</a>
    	<a href="/blog/" class="content-link">Blog</a>
		
		<h1>Astro</h1>
	</body>
</html>
