---
import SiteLayout from '../layouts/SiteLayout.astro';
import '../styles/main.css';
---
<SiteLayout title="Home">
  <main>
    <h1>Welcome to Integra Tech Support</h1>
  </main>
</SiteLayout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
</style>