---

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Integra Tech Support | Boots on the Ground Support, Right When You Need It.</title>
	</head>
<body>
    <a href="/" class="content-link">Home</a>
    <a href="/services/" class="content-link">Services</a>
    <a href="/about/" class="content-link">About</a>
    <a href="/blog/" class="content-link">Blog</a>
    
    <h1>What We Have To Offer</h1>
    <p>This is where we talk about what services we have to offer.</p>
    <ul>
        <li><a href="/posts/digital-displays/">Digital Display Installation</a></li>
    </ul>
</body>
</html>