---
interface Props {
    class?: string;
}

const { class: className } = Astro.props;
---

<div class:list={[className]}>
    <slot />
</div>

<style>
    div {
        max-width: 80rem;
        margin: 0 auto;
        padding-inline: .5rem;
    }
</style>