---
import Logo from "./Logo.astro";
import Phone from "./Phone.astro";
---
<nav class="navigation">
    <Logo />
    <div class="dropdown">
        <ul class="menu">
            <li class="menu-button"><button>Services</button></li>
            <ul class="dropdown-menu">
                <li class="dropdown-link"><a href="/services/">Audio Visual</a></li>
                <li class="dropdown-link"><a href="/services/">Display Installation</a></li>
                <li class="dropdown-link"><a href="/services/">Low-Voltage Cabling</a></li>
                <li class="dropdown-link"><a href="/services/">Network Installation</a></li>
                <li class="dropdown-link"><a href="/services/">Network Installation</a></li>
                <li class="dropdown-link"><a href="/services/">Video Conferencing</a></li>
                <li class="dropdown-link"><a href="/services/">Point of Sale</a></li>
            </ul>
            <li class="menu-button"><button>Industries</button></li>
            <ul class="dropdown-menu">
                <li class="dropdown-link"><a href="/industries/">Commercial</a></li>
                <li class="dropdown-link"><a href="/industries/">Office</a></li>
                <li class="dropdown-link"><a href="/industries/">Retail</a></li>
                <li class="dropdown-link"><a href="/industries/">Hospitality</a></li>
                <li class="dropdown-link"><a href="/industries/">Healthcare</a></li>
            </ul>
            <li class="menu-link"><a class="nav-link__item" href="/blog/">Blog</a></li>
            <li class="menu-link"><a class="nav-link__item" href="/about/">About Us</a></li>
        </ul>
    </div>
    <Phone />
</nav>