---
import Logo from "./Logo.astro";
import Phone from "./Phone.astro";
---
<nav class="top-nav">
    <Logo />
    <div class="container">
        <ul class="nav-links">
            <li class="nav-link"><a class="nav-link__item" href="/services/">Services</a></li>
            <li class="nav-link"><a class="nav-link__item" href="/industries/">Industries</a></li>
            <li class="nav-link"><a class="nav-link__item" href="/blog/">Blog</a></li>
            <li class="nav-link"><a class="nav-link__item" href="/about/">About Us</a></li>
        </ul>
    </div>
    <Phone />
</nav>