---
import { Icon } from "astro-icon/components";
---
<div>
    <Icon name="fi-sr-phone-call" />
    <span>(224) 303-0323</span>
</div>

<style>
    div {
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    span {
    }
</style>