---
import '@styles/colors.css';
import FontLoader from '@components/FontLoader.astro';
import Navigation from '@components/nav/Navigation.astro';
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <FontLoader />

    <link rel="stylesheet" href="/assets/css/reset.css">
    <title>{title} | Integra Tech Support</title>
</head>
<body>

    <Header />

    <slot />
    
</body>
</html>