---
interface Props {
    title: string,
    class?: string
}
const { class: className, title } = Astro.props;
---
<li>
    <button class:list={["toggle", className]}>
        <span>{title}</span>
    </button>
    <slot />
</li>