---
import { Icon } from "astro-icon/components";

interface Props {
    href: string;

    style?: "primary" | "inverted" | "muted";

    class?: string;

    dropdown?: boolean;
}

const {
    href,
    style = 'primary',
    class: className,
    ...rest
} = Astro.props;
---

<a
    href={href}
    {...rest}
    class:list={[
        className
    ]}
><slot /></a>
